.term-component{
    display: grid;
    grid-template-columns: 80% 20%;
    margin: 2%;
    padding: 0%;
    height: 15%;
}
#title{
    grid-row: 1;
    grid-column: 1;

}
#grade{
    grid-row: 1;
    grid-column: 2;
    background-color: #A7CCED;

}