.main-pane-container{
	display: grid;
	height: 100%;
}

/*---Left Side*/
.main-left{
	background-color: #82A0BC;
	grid-column: 1;
	height: 100%;
	width: 100%;
	padding-left padding-right: 1.5%;
}
.main-left-components{
	height: 80%;
}

/*Right side----*/
.main-right{
	grid-row: 1;
	grid-column: 2;
	display: grid;
	grid-template-rows: 50% 50%;
	color: black;
	background-color: #545E75;
	height: 100%;
	width: 100%;
}

.average-container{
	margin-top: 2%;	
}

.progress-bar{
	grid-row: 1;
	width: 100%;
	height: 100%;
	align-content: center;
}