.main-pane-container{
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-columns: 50% 25% 25%;
	grid-template-rows: 100%;
}

/*---Left Side*/
.main-left{
	background-color: #82A0BC;
	grid-row: 1;
	width: 100%;
	padding: 1.5%;
	padding-bottom: none;
}
#left-course{
	grid-column: 1;
}
#left-term{
	grid-column: 1/3;
}

.main-left-components{
	height: 80%;
}

/*Right side----*/
.main-right#right-course{
	grid-row: 1;
	display: grid;
	grid-template-rows: 50% 50%;
	color: black;
	background-color: #545E75;
	height: 100%;
	width: 100%;
}
.main-right#right-term{
	grid-row: 1;
	color: black;
	background-color: #545E75;
}
#right-course{
	grid-column: 2/4;
}
#right-term{
	height: 100%;
	width: 100%;
	text-align: center;
	grid-column: 3/4;
	vertical-align: middle;
}
.average-container{
	margin-top: 2%;	
}

.progress-bar{
	grid-row: 1;
	padding: 2%;
	width: 100%;
	height: 100%;
	align-content: center;
}
